body {
    font-family: Arial, sans-serif;
    background-color: #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    
}

.container {
    text-align: center;
    background-color: #008000;
    width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    height: 100%;
    margin-top: 50px;
}

#drawn-cards img, #selected-cards img {
    width: 80px;
    margin: 5px;
    cursor: pointer;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: -5px;
}

#totals-area {
    margin-top: 30px;
   
}

#drawn-cards{
    margin-top: 30px;
}



/*画像の透明素材として*/

button {
    background-color: transparent;
    border: none; 
}

button img {
    display: block; 
}

button img:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
}

#reset{
    margin-top: 5px;
}


#yama{
    position: fixed;
    top: 100px;
    left: 250px;
}